LAB8/db/
LAB8/db/*
LAB8/.metadata/
LAB8/.metadata/*
LAB8/.qsys_edit/
LAB8/.qsys_edit/*
LAB8/incremental_db/
LAB8/incremental_db/*
LAB8/db/lab8.quiproj.7308.rdr.flock
LAB8/db/lab8.quiproj.18448.rdr.flock